<!-- from splash to beyond -->


<div class="jumbotron-fluid">
        <h1 class="d-none">Splash</h1>
        <div class="row splash">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="splash-art">
                    <img src="images/splash-img.png" class="splash-hand float-lg-right" alt="Splash Art">
                </div>
                <h1>Hi, I'm Syrrel</h1>
                    <p class="display-5"><strong>I like</strong>
                        <span id="demo"></span>
                        <span class='type-cursor'>|</span>
                    </p>
                    <p class="display-5"><strong>This is a curation of some of my best works</strong></p>
        </div>
    </div>
</div>


<!-- Portfolio Gallery -->
<section id="work" class="container panel work" ></section>
 <div class="workDiv clearfix col-lg-12 col-sm-12">
        <div class="divider"></div><img src="images/Work-Header.png" class="wHeader" alt="Work Header"><div class="divider"></div>
</div>

<div class="row mosaic">
    {{#each piece}}
         <div class="p1 user-panel col-xs-12 col-sm-12 col-lg-3">
            <div id="p1">
                <img src="{{DispImg}}" alt="Display Img">
               
                <button class="projLink BtnDiv" href="{{ ID }}">
                    <p>{{ Text }}</p>
                </button>
                
            </div>
        </div>
    {{/each}}
</div>

    </div>
    </div>
</section>

 <!-- Popup for each piece-->
<div class="lightbox container col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <span class="close">x</span>
        <div class="lb-content container-fluid">
        </div>  
            <div class="projDesc">
                <div class="piece-gallery">
                    <img src="{{ Preview1 }}" alt="Preview">
                    <img src="{{ Thumbnail1 }}" alt="Thumbnail">

                </div>
                <img src="{{ OtherImg }}" alt="Slideshow">
                <button href="wave.hbs" class="btn btn-outline-danger">Read More</button>
            </div>   
    </div>
</div>




<section id="about"></section>





<script type="module" src="js/typing-splash.js"></script>